
#diceContainer {
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;
    padding: 1em;
}

.die {
    height: 100px;
    width: 100px;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: solid black 1px;
    display: flex;
    margin: 3px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}