
body {
    background-color: #BC9CB0;
}
.container {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    padding: 5em;
    justify-content: center;
}

.btn {
    background-color: #DCC48E;
}


.die {
    color: #403D58;
    height: 150px;
    width: 150px;
    font-size: 10em;
    display: flex;
    margin: 3px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}